.headerContainer {
  border-bottom: 0.0625rem solid var(--primaryBorderColor);
  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  align-items: center;

  padding: 0.25rem;

  background: linear-gradient(
    0.25turn,
    var(--primaryUiColor),
    var(--secondaryUiColor),
    var(--primaryUiColor)
  );
}

.navigation {
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  .headerContainer {
    grid-template-columns: 1fr auto 1fr;
  }
}
