:root {
  --primaryColor: rgb(0, 100, 255);

  --primaryTextColor: rgb(255, 255, 255);

  --primaryBorderColor: rgb(0, 0, 0);
  --mediumBorderColor: rgba(0, 0, 0, 0.5);
  --transparentBorderColor: rgba(0, 0, 0, 0.1);

  --boxShadowColor: rgba(0, 0, 0, 0.25);

  --backgroundColor: rgb(20, 20, 20);

  --primaryUiColor: rgb(40, 40, 40);
  --secondaryUiColor: rgb(60, 60, 60);
  --tertiaryUiColor: rgb(80, 80, 80);
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primaryTextColor);
}

main {
  padding-bottom: 7rem;
}

@media (min-width: 768px) {
  main {
    padding-bottom: 3rem;
  }
}
